<<<<<<< 69718e2833ee2fbfdbf3b471977fd0b1f20ee95b
<%= link_to 'Sign in with Deezer', "https://connect.deezer.com/oauth/auth.php?app_id=#{ENV["deezer_application_id"]}&redirect_uri=http://localhost:3000/auth/deezer/callback&perms=basic_access,email,manage_library" %>

<h1>SESSIONS VIEW</h1>
<h1>Log In</h1>

<%= form_tag sessions_path, method: :post do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>

  <div class="actions">
    <%= submit_tag "Log In" %>
  </div>
<% end %>
=======
<nav>

<div class="nav-wrapper cyan darken-2">
  <a href=#>Q</a>
  <ul class="right">
    <li>

      <%= link_to 'Sign in with Deezer', "https://connect.deezer.com/oauth/auth.php?app_id=#{ENV["deezer_application_id"]}&redirect_uri=http://localhost:3000/auth/deezer/callback&perms=basic_access,email,manage_library" %>

    </li>
  </ul>



</div>

<form>
  <div class="input-field cyan darken-2">
    <input id="search" type="search" placeholder="Search for music"required>
    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
    <i class="material-icons">close</i>
  </div>
</form>
</nav>
>>>>>>> Add materialize scripts
