<!-- <%= link_to 'Sign in with Deezer', "https://connect.deezer.com/oauth/auth.php?app_id=#{ENV["deezer_application_id"]}&redirect_uri=http://localhost:3000/auth/deezer/callback&perms=basic_access,email,manage_library" %> -->


<div class="login-form">
  <%= form_tag sessions_path, method: :post do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
</div>


<!-- <div class="login-button"> -->
  <button class="btn login-session white" type="submit" name="action">LOGIN
  </button>
<!-- </div> -->

<% end %>
