<div class="buttons-user party-buttons">
  <div class="btn logins" id="host-button"><%= link_to "Host a Party", new_playlist_path %></div>
  <div class="btn logins" id="join-button"><%= link_to "Join a Party", join_path %></div>
</div>

<div class="hosted-playlists"><span id="host-title">Hosted Playlists</span>
<ol>
  <% @hosted.each do |playlist| %>
  <div class='hosted-playlist'>
    <li><%= link_to "#{playlist.name} | #{playlist.theme} | Access Code: #{playlist.access_code}", playlist_path(playlist) %>
      <span class="edit-delete"> <%= link_to "Edit", edit_playlist_path(playlist) %> | <%= link_to "Delete", playlist_path(playlist), method: :delete %> </span>
</div>
  <% end %>
</ol>
</div>

<div class="guest-playlists"><span id="guest-title">Guest Playlists</span>
<ol>
  <% @guest.each do |playlist| %>
  <div class="guest-playlist">
  <li><%= link_to "#{playlist.name} | #{playlist.theme}", playlist_path(playlist) %>
  </div>
  <% end %>
</ol>

</div>
