<div class="buttons-user">
  <div class="btn logins"><%= link_to "Host a Party", new_playlist_path %></div>
  <div class="btn logins"><%= link_to "Join a Party", join_path %></div>
</div>

<div class="hosted-playlists"><span id="host-title">Hosted Playlists</span>
<ol>
  <% @hosted.each do |playlist| %>
  <div class='hosted-playlist'>
  <a href="/playlists/<%=playlist.id%>"><li><%= playlist.name %> | <%= playlist.theme %> | Access Code: <%= playlist.access_code %></li></a>
</div>
  <% end %>
</ol>
</div>

<div class="guest-playlists"><span id="guest-title">Guest Playlists</span>
<ol>
  <% @guest.each do |playlist| %>
  <div class="guest-playlist">
  <a href="/playlists/<%=playlist.id%>"><li><%= playlist.name %> | <%= playlist.theme %></li></a>
  </div>
  <% end %>
</ol>

</div>
