<!-- <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Arichstrauss%3Aplaylist%3A0PKek3EhlcCNy6FboqtFeW" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->

<section class="search">
  <h1>Search A Song</h1>
  <%= form_tag  root_path, method: "get" do |f| %>
    <div class="field">
      <%= label_tag :search %><br/>
      <%= text_field_tag :search %>
    </div>
    <div><%= submit_tag "Search" %></div>
  <% end %>

  <div id="search_results"></div>
</section>

<h2>Search Results</h2>
<article>
  <h1> Album </h1>
  <% @albums.each do |album| %>
    <p><a href="/?&search=<%= album.name %>"><%= album.name %></a><p>
  <% end %>

  <h1> Tracks </h1>
  <% @tracks.each do |track| %>
    <p><%= track.name %> <%= track.id %></p>
    <% @my_playlist.add_tracks!([track]) %>
  <% end %>

  <h2>My Playlist</h2>
  <%= @my_playlist.tracks %>

</article>
