<h1 class="title"> Create Playlist</h1>

<div class="party-form">


  <%= form_for @playlist_q do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %> <br />
    </div>
    <div class="field">
      <%= f.label :theme %>
      <%= f.select(:theme, @themes, {:prompt => "Select a Theme"}, { :class => 'browser-default dropdown' }) %> <br />
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %> <br />
    </div>


</div>


<button class="btn login-session white" id="playlist-button" type="submit" name="action"> Create Playlist</button>
<% end %>
