
  <div>
  <div class="playlist-details">
  <div class="playlist-name"><%= @playlist_q.name %>&nbsp|&nbsp</div><div class="playlist-description"> <%= @playlist_q.description %>&nbsp</div><div class="playlist-code">&nbsp|&nbspAccess Code: <%=@playlist_q.access_code%></div>
    <% if @access == "Host" %>
    <span class="guestlist-playlist"><button> <%= link_to "Guestlist", '#modal1' %> </button></span>
    <button id="make-public" type="submit" name="action">
      <%if @playlist_q.public %>
      <%= "Public" %>
      <% else %>
      <%= "Private" %>
      <% end %>
    </button>
</div>
 <% end %>

  </div>

<div id="d_player"></div>
<div id="dz-root"></div>


  <script type="text/javascript">
  <%= render :partial => "dz.js" %>
  </script>

  <% if @access == 'Host' %>
    <script type="text/javascript">
      <%= render :partial => "player.js" %>
    </script>
  <% end %>

  <script type="text/javascript">
    <%= render :partial => "nextsong.js" %>
  </script>

<div>
  <% if @playlist_q.public %>
    <button class='hidden add-search-container'> Add a song </button>
  <% else %>
    <button class='add-search-container'> Add a song </button>
  <%end %>
</div>

  <div class="search-container hidden">
    <section class="search">

      <button class="back">Back to playlist</button>
      <h5>Search A Song</h5>
      <%= form_tag  playlist_suggestedsongs_path(params[:id]), method: "get" do |f| %>
        <div class="field">
          <%= text_field_tag :search %>
          <span class="search-submit"><%= submit_tag "Search" %></span>
        </div>
      <% end %>

      <div id="search_results"></div>
    </section>
    </div>


<div class="song-list">
  <% @songs.each do |song| %>
    <% if song.status == "played" %>
      <div class="song-in-queue played" data-playlist-id=<%=@playlist_q.id%> data-suggested-song-id=<%= song.id %>>
    <% else %>
      <div class="song-in-queue que" data-playlist-id=<%=@playlist_q.id%> data-suggested-song-id=<%= song.id %>>
    <% end %>


    <%= song.name %> - <%= song.artist %>
    <span class="added-by"> | Added By: <%= User.find(song.user_id).first_name %></span>


      <% if @playlist_q.public %>

          <span class="contain">
            <span class="buttons"><button type="button" name="button" class="hidden upvote btn waves-effect waves-light blue darken-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="hidden downvote btn waves-effect waves-light red"><i class="material-icons">thumb_down</i></button></span> &nbsp
          </span>

      <% else %>
        <%if song.status != "played" %>

        <span class="contain">
          <span class="buttons"><button type="button" name="button" class="upvote btn waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="downvote  btn waves-effect waves-light red lighten-2"><i class="material-icons">thumb_down</i></button></span> &nbsp
        </span>
        <% else %>
          <span class="contain"></span>
        <% end %>
      <% end %>
  <% if Authorization.where(playlist_id: @playlist_q.id, user_id: session[:user_id])[0].status == "Host" %>
    <%= link_to "Delete", playlist_suggestedsong_path(@playlist_q, song), method: :delete%>
  <% end %>
  <span class="heart"><span class="netvote" id=<%=song.id%>><%= song.net_vote %></span>&nbsp<i class="fa fa-heart" style="font-size:12px"></i></span>
</div>
  <% end %>


  <div class="guest-list-container modal" id="modal1">
    <h3 class='guest-title'>Guest List</h3>

    <!-- <span class="modal-action modal-close waves-effect waves-green btn-flat">X</span> -->
    <ol>

    </ol>
  </div>
