  <div>
  <div class="playlist-details">
  <div class="playlist-name"><%= @playlist_q.name %>&nbsp|  </div><div class="playlist-description">&nbsp <%= @playlist_q.description %></div>
    <% if (Authorization.where(playlist_id: @playlist_q.id, user_id: session[:user_id]))[0].status == "Host" %>
    <button id="make-public" type="submit" name="action">
      <%if @playlist_q.public %>
      <%= "Public" %>
      <% else %>
      <%= "Private" %>
      <% end %>
    </button>
</div>
 <% end %>

  </div>

<div id="d_player"></div>
<div id="dz-root"></div>
<script src="https://e-cdn-files.deezer.com/js/min/dz.js"></script>
<script>
  if (<%= @access == 'Host' %>) {

    window.dzAsyncInit = function() {
    DZ.init({
      appId  : '226822',
      channelUrl : 'https://still-beach-57737.herokuapp.com/playlist/player',
      player : {
        container: 'd_player',
        // width : 800, allow CSS to set 100% width
        height : 90,
        color: '0ab091',
        onload : function(){}
      }
    })
    };
    var nextSongRecord = <%= @next_song_record %>
      if (<%= @next_song_id > 0 %>) {
        setTimeout(function(){DZ.player.playTracks([<%= @next_song_id %>])}, 3000);
        setTimeout(function(){DZ.Event.subscribe('track_end', function(){
          console.log("Track has ended");
          $.ajax({
            url: '/playlists/<%=params[:id]%>/update_song?song_id=' + nextSongRecord,
            method: 'get',
          }).done(function(data){
            DZ.player.playTracks([data['song_id']]);
            nextSongRecord = data['song_record'];
            })
          })}
        , 3000)
      }
      // else {
      //   $('.search-container').css('display','none');
      // }

    (function() {
      var e = document.createElement('script');
      e.src = 'https://e-cdn-files.deezer.com/js/min/dz.js';
      e.async = true;
      document.getElementById('dz-root').appendChild(e);
    }());
  }
  </script>

<div>
  <% unless @playlist_q.public %>
    <button class='add-search-container'> Add a song </button>
  <%end %>
</div>

  <div class="search-container hidden">
    <section class="search">

      <button class="back">Back to playlist</button>
      <h5>Search A Song</h5>
      <%= form_tag  playlist_suggestedsongs_path(params[:id]), method: "get" do |f| %>
        <div class="field">
          <%= text_field_tag :search %>
          <span id="search-submit"><%= submit_tag "Search" %></span>
        </div>
      <% end %>

      <div id="search_results"></div>
    </section>
    </div>


<div class="song-list">
  <% @songs.each do |song| %>
    <% if song.played %>
      <div class="song-in-queue played" data-playlist-id=<%=@playlist_q.id%> data-suggested-song-id=<%= song.id %>>
    <% else %>
      <div class="song-in-queue que" data-playlist-id=<%=@playlist_q.id%> data-suggested-song-id=<%= song.id %>>
    <% end %>


    <%= song.name %> - <%= song.artist %>
    <span class="added-by"> | Added By: <%= User.find(song.user_id).first_name %></span>


      <% if @playlist_q.public %>

          <span class="contain">
            <span class="buttons"><button type="button" name="button" class="hidden upvote btn waves-effect waves-light blue darken-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="hidden downvote  btn waves-effect waves-light red"><i class="material-icons">thumb_down</i></button></span> &nbsp
          </span>

      <% else %>
        <%if !(song.played) %>

        <span class="contain">
          <span class="buttons"><button type="button" name="button" class="upvote btn waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></button>&nbsp<button type="button" name="button" class="downvote  btn waves-effect waves-light red lighten-2"><i class="material-icons">thumb_down</i></button></span> &nbsp
        </span>
        <% else %>
          <span class="contain"></span>
        <% end %>
      <% end %>

  <span class="heart"><span class="netvote" id=<%=song.id%>><%= song.net_vote %></span>&nbsp<i class="fa fa-heart" style="font-size:12px"></i></span>
</div>

  <% end %>
</div>


<article>
  <% if @albums["data"] %>
    <h1>Albums</h1>
    <% titles = [] %>
    <% @albums["data"].each do |album| %>
      <% unless titles.include?(album['title']) %>
        <% titles << album['title'] %>
      <% end %>
    <% end %>
  <% end %>
  <% if titles %>
    <% titles.each do |title| %>
      <p><a href="/?&search=<%= title %>" ><%= title %></a><p>
    <% end %>
  <% end %>

  <% if @tracks["data"] %>
    <h1>Tracks</h1>
    <% @tracks["data"].each do |track| %>
      <div>
        <div data-playlist-id=<%=params[:playlist_id]%> data-user-id=<%=session[:user_id]%> name= <%= track["id"]%> > <%= track["title"] %> </div>
        <button class="suggest_song"> Add </button>
      </div>
    <% end %>
  <% end %>
</article>

</div>
